<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Fracking Tools: Document Utilities > Compare Documents</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/img/fracking-tools logo.png' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg-custom">
      <a class="navbar-brand" href="{% url 'home:index' %}">
        <img src="{% static 'home/img/fracking-tools logo.png' %}" alt="">
        Fracking Tools
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-2 text-center">
          <li class="nav-item m-2">
            <div class="btn-group nav-item">
              <a href="{% url 'network_builder:network_builder' %}" class="btn btn-primary">Network Utilities</a>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'network_builder:events' %}">Build Networks from Events</a>
                <a class="dropdown-item" href="{% url 'network_builder:pairs' %}">Build Networks from Individual Pairs</a>
                <a class="dropdown-item" href="{% url 'network_builder:netcomp' %}">Compare Networks</a>
              </div>
            </div>
          </li>
          <li class="nav-item m-2">
            <div class="btn-group nav-item">
              <a href="{% url 'document_utilities:docutils' %}" class="btn btn-light">Document Utilities</a>
              <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'document_utilities:doccomp' %}">Compare Documents</a>
                <a class="dropdown-item" href="{% url 'document_utilities:doctag' %}">Tag Documents for Keywords</a>
                <a class="dropdown-item" href="{% url 'network_builder:netcomp' %}">Tag Documents Using NER</a>
                <a class="dropdown-item" href="{% url 'document_utilities:docstats' %}">Compute Document Statistics</a>
                <a class="dropdown-item" href="#">OCR Documents</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="wrapper">
      <div id="header">
        <div class="jumbotron jumbotron-fluid" id="home-banner">
          <div class="container text-center">
            <h1 class="display-4 text-dark">Fracking Tools: Compare Documents</h1>
            <p class="lead text-dark">Compare one pair or many pairs of documents for content or textual similarity.</p>
            <p>
              <a href="{% url 'document_utilities:doctag' %}" class="btn btn-primary my-4">Tag Documents for Keywords</a>
              <a href="{% url 'document_utilities:nertag' %}" class="btn btn-success my-4">Tag Documents with NER</a>
              <a href="{% url 'document_utilities:docstats' %}" class="btn btn-danger my-4">Compute Document Statistics</a>
              <a href="#" class="btn btn-dark my-4">OCR Documents</a>
            </p>
            <p class="lead text-light">By <strong>Rudy Huezo</strong></p>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container text-center">
          <div id="networks-built-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-check" aria-hidden="true"></i> <strong><span id="number-of-files"></span></strong> files were compared successfully!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="empty-fields-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa fa-times-circle" aria-hidden="true"></i> You must select at least <strong>2</strong> files and choose an output .csv name!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card w-100 my-4 border-warning">
            <div class="card-body text-left">
              <h4 class="card-title mb-4">0. Before You Begin</h4>
              <p class="card-text">
                Before comparing documents you <strong>MUST</strong> follow the exact instructions provided below.
              </p>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-warning btn-block" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-info-circle" aria-hidden="true"></i> Instructions</button>
              </div>
            </div>
          </div>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  <p>1. Select all the files you want to compare. Your files must be <strong>.txt</strong> or <strong>.docx</strong>.</p>
                  <p>2. Choose a name for the results file. The results of the file comparisons will be outputted to a single <strong>.csv</strong> file.</p>

                  <p>
                    3. Once you choose which files to upload and enter an output <strong>.csv</strong>
                    name, you can click on <kbd>Compare <i class="fa fa-exchange" aria-hidden="true"></i></kbd> to compare your files.
                  </p>
                  <p>
                    4. The output file will look something like this
                    <table class="table">
                      <thead>
                        <th>File A</th>
                        <th>File B</th>
                        <th>Cosine Similarity</th>
                        <th>Jaccard Similarity</th>
                      </thead>
                      <tr>
                        <td>Example File A.txt</td>
                        <td>Example File B.txt</td>
                        <td>0.5</td>
                        <td>0.6</td>
                      </tr>
                      <tr>
                        <td>Example File A.txt</td>
                        <td>Example File D.txt</td>
                        <td>0.8</td>
                        <td>0.4</td>
                      </tr>
                      <tr>
                        <td>Example File A.txt</td>
                        <td>Example File F.txt</td>
                        <td>0.3</td>
                        <td>0.0</td>
                      </tr>
                    </table>
                  </p>
                  <hr>
                  <h6 class="text-center">Some Background Information</h6><br>
                  <p><strong>Cosine Similarity </strong> refers to comparing the content
                    of two or more documents. The cosine similarity of two documents ranges from -1 to +1. If two documents
                    talk about the same topics their cosine similarity is closer to +1. If two documents talk about completely
                    opposite topics, their cosine similarity is closer to -1. However, if two documents are unrelated,
                    their cosine similarity is exactly 0.
                  </p>
                  <p>
                    This comparison is possible thanks to the <strong>Vector Space Model (VSM)</strong>.
                    VSM is an algebraic model representing textual information as a vector.
                    The components of this vector are important-word frequencies determined using the term
                    frequency-inverse document frequency <a href="http://en.wikipedia.org/wiki/Tf%E2%80%93idf">(tf-idf)</a> method.
                  </p>
                  <p>
                    <strong>Jaccard Similarity </strong> is used to detect whether two documents are almost identical.
                    This method reduces a document to a set of strings through a process called shingling.
                    Shingling extracts the set of all substrings of length k (k-shingles) from a text. This is implemented
                    by sliding a window of size k over each document--character by character--and putting the substrings into a set.
                    For example, the document "abcabcac" yields the 3 shingles {"abc", "bca", "cab", "cac"}. This set eliminates duplicate shingles.
                  </p>
                  <p>
                    Once documents have been turned into shingle sets, the jaccard similarity of 2 sets (2 documents) is calculated
                    by dividing the size of the intersection of two sets by the size of their union. In other words, the ratio of the number
                    of words that are found in BOTH documents and the total number of unique words in BOTH documents.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <form id="events-form" action="{% url 'document_utilities:compdocs' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card w-100 my-4">
              <div class="card-body text-left">
                <h4 class="card-title mb-4">1. Upload Documents to Compare</h4>
                <p class="card-text">
                  Upload the files you want to compare. Valid file formats are <strong>.txt</strong>, and <strong>.docx</strong>.
                </p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <input class="form-control" type="file" name="comparison-documents" accept=".txt,.pdf,.docx" multiple required>
                </div>
              </div>
            </div>
            <div class="card mb-4 w-100 my-4">
              <div class="card-body text-left">
                <h4 class="card-title mb-4">2. Choose a Name for the Output <strong>.csv</strong> File</h4>
                <p class="card-text">
                  Enter the output .csv name without a file extension.
                </p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <input class="form-control" type="text" name="comparison-output-csv-name" placeholder="Enter a .csv name" required>
                </div>
              </div>
            </div>
            <div class="card mb-4 w-100 my-4">
              <div class="card-body text-left">
                <h4 class="card-title mb-4">3. Compare Documents</h4>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <button type="button" onclick="submit_form();" class="btn btn-dark btn-block" name="button">Compare <i class="fa fa-exchange" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="footer">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:rahuezo@ucdavis.edu">rahuezo@ucdavis.edu</a>
            </div>
            <div class="col-sm-6">
              <i class="fa fa-globe" aria-hidden="true"></i> <a href="http://rudyhuezo.work">rudyhuezo.work</a>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 text-muted">
              © 2017 Fracking Tools All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript">

    $(document).ready(function(){
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });

    function submit_form() {
      let events_form = $('#events-form');

      if(events_form.find('input:file')[0].files.length > 1 && events_form.find('input:text').val().length > 0) {
        $('#number-of-files').text(events_form.find('input:file')[0].files.length);
        events_form.submit();
        events_form[0].reset();
        $('#empty-fields-alert').fadeOut();
        $('#networks-built-alert').fadeIn();

      } else {
        $('#empty-fields-alert').fadeIn();
      }
    }

    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
  </body>
</html>
