<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Fracking Tools: Document Utilities > Tag Documents for Keywords</title>
    {% include 'global/head.html' %}
  </head>
  <body>
    {% include 'global/navbar.html' %}
    <div id="wrapper">
      <div id="header">
        {% include 'document_tagging_keywords/jumbotron.html' %}
      </div>
      <div id="content">
        <div class="container text-center">
          {% if messages %}
          {% for message in messages %}
          {% ifequal message.tags "info" %}
            <div id="" class="alert alert-warning alert-dismissible fade show" role="alert">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message|safe }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endifequal %}
          {% endfor %}
          {% else %}
          <div id="networks-built-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-check" aria-hidden="true"></i> <strong><span id="number-of-files"></span></strong> files were tagged successfully!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% include 'document_tagging_keywords/alerts.html' %}
          {% include 'document_tagging_keywords/steps.html' %}
        </div>
      </div>
      <div id="footer">
        {% include 'global/footer.html' %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'document_tagging_keywords/js/main.js' %}" charset="utf-8"></script>    
  </body>
</html>
