<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Fracking Tools: Network Builder > Event Networks</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/img/fracking-tools logo.png' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg-custom">
      <a class="navbar-brand" href="{% url 'home:index' %}">
        <img src="{% static 'home/img/fracking-tools logo.png' %}" alt="">
        Fracking Tools
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-2 text-center">
          <li class="nav-item m-2">
            <div class="btn-group nav-item">
              <a href="{% url 'network_builder:network_builder' %}" class="btn btn-primary">Network Utilities</a>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'network_builder:events' %}">Build Networks from Events</a>
                <a class="dropdown-item" href="{% url 'network_builder:pairs' %}">Build Networks from Individual Pairs</a>
                <a class="dropdown-item" href="{% url 'network_builder:netcomp' %}">Compare Networks</a>
              </div>
            </div>
          </li>
          <li class="nav-item m-2">
            <div class="btn-group nav-item">
              <a href="{% url 'network_builder:network_builder' %}" class="btn btn-light">Document Utilities</a>
              <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'network_builder:events' %}">Build Networks from Events</a>
                <a class="dropdown-item" href="{% url 'network_builder:pairs' %}">Build Networks from Individual Pairs</a>
                <a class="dropdown-item" href="{% url 'network_builder:netcomp' %}">Compare Networks</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="wrapper">
      <div id="header">
        <div class="jumbotron jumbotron-fluid" id="home-banner">
          <div class="container text-center">
            <h1 class="display-4 text-dark">Fracking Tools: Build Networks From Events</h1>
            <p class="lead text-dark">Build one or many networks from <strong>.csv</strong> event spreadsheets.</p>
            <p>
              <a href="{% url 'network_builder:pairs' %}" class="btn btn-dark my-4">Build Networks from Individual Pairs</a>
              <a href="{% url 'network_builder:netcomp' %}" class="btn btn-light my-4">Compare Networks</a>
            </p>
            <p class="lead text-light">By <strong>Rudy Huezo</strong></p>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container text-center">
          <div id="networks-built-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-check" aria-hidden="true"></i> Your networks were built successfully!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="empty-fields-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa fa-times-circle" aria-hidden="true"></i> You must select a file and choose an output .zip name!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card w-100 my-4 border-warning">
            <div class="card-body text-left">
              <h4 class="card-title mb-4">0. Before You Begin</h4>
              <p class="card-text">
                Before building networks from events you <strong>MUST</strong> follow the exact instructions provided below.
              </p>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-warning btn-block" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-info-circle" aria-hidden="true"></i> Instructions</button>
              </div>
            </div>
          </div>
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  <p>1. Your event files must be in <strong>.csv</strong> format.</p>
                  <p>2. Each event file must be a spreadsheet with the following format</p>
                  <p>
                    <table class="table">
                      <thead>
                        <th>Event 1</th>
                        <th>Event 2</th>
                        <th>Event 3</th>
                      </thead>
                      <tr>
                        <td>Person A</td>
                        <td>Person B</td>
                        <td>Person C</td>
                      </tr>
                      <tr>
                        <td>Person B</td>
                        <td>Person C</td>
                        <td>Person B</td>
                      </tr>
                      <tr>
                        <td>Person D</td>
                        <td></td>
                        <td>Person D</td>
                      </tr>
                    </table>
                  </p>
                  <p>
                    3. Once you choose which files to upload and enter an output <strong>.zip</strong>
                    name, you can click on <kbd>Build >></kbd> to build your event networks.
                  </p>
                  <p>
                    4. A resulting output .zip
                    file will be automatically downloaded to your computer.
                  </p>
                  <p>
                    5. Each event network will look something like the following
                  </p>
                  <p>
                    <table class="table">
                      <thead>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                      </thead>
                      <tr>
                        <td>A</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                      </tr>
                    </table>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <form id="events-form" action="{% url 'network_builder:build_enet' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card w-100 my-4">
              <div class="card-body text-left">
                <h4 class="card-title mb-4">1. Upload Event Files</h4>
                <p class="card-text">
                  Upload <strong>.csv</strong> spreadsheet where each column is
                  an event and each cell under an event is an individual that attended
                  that event.
                </p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <input class="form-control" type="file" name="event-csvs" value="" multiple required>
                </div>
              </div>
            </div>
            <div class="card mb-4 w-100 my-4">
              <div class="card-body text-left">
                <h4 class="card-title mb-4">2. Choose Output <strong>.zip</strong> Name</h4>
                <p class="card-text">
                  Enter the output .zip name without a file extension.
                </p>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <input class="form-control" type="text" name="events-output-zip-name" placeholder="Enter a .zip name" required>
                </div>
              </div>
            </div>
            <div class="card mb-4 w-100 my-4">
              <div class="card-body text-left">
                <h4 class="card-title mb-4">3. Build Event Networks</h4>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <button type="button" onclick="submit_form();" class="btn btn-dark btn-block" name="button">Build <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="footer"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript">

    function submit_form() {
      let events_form = $('#events-form');

      if(events_form.find('input:file').val().length > 0 && events_form.find('input:text').val().length > 0) {
        events_form.submit();
        events_form[0].reset();
        $('#empty-fields-alert').fadeOut();
        $('#networks-built-alert').fadeIn();
      } else {
        $('#empty-fields-alert').fadeIn();
      }
    }

    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
  </body>
</html>
